<div class="container text-center">
  <h1>Liste des inscrits</h1>
    <div class="flexbox">
      <button class="btn-treehouse minhotfix" data-toggle="collapse" data-target="#simplehomme" aria-expanded="false" aria-controls="collapseExample">Simple Homme</button>
      <button class="btn-treehouse minhotfix" data-toggle="collapse" data-target="#simpledame" aria-expanded="false" aria-controls="collapseExample">Simple Dame</button>
      <button class="btn-treehouse minhotfix" data-toggle="collapse" data-target="#doublehomme" aria-expanded="false" aria-controls="collapseExample">Double Homme</button>
      <button class="btn-treehouse minhotfix" data-toggle="collapse" data-target="#doubledame" aria-expanded="false" aria-controls="collapseExample">Double Dame</button>
      <button class="btn-treehouse minhotfix" data-toggle="collapse" data-target="#doublemixte" aria-expanded="false" aria-controls="collapseExample">Double Mixte</button>
    </div>
    <div>
      <% if current_user %>
        <%= link_to "Excel", inscriptions_path(format: "xls") %>
      <% end %>
    </div>
</div>

<div class="wrapper" id="wrapper_index">
  <div class="container min-height">

  <!-- Simple Homme -->
    <div class="collapse" id="simplehomme">
      <div class="row">
        <% @sh.each do |hash| %>
          <%= render 'inscription', hash: hash %>
        <% end %>
      </div>
    </div>
  <!-- Simple Dame -->
    <div class="collapse" id="simpledame">
      <div class="row">
        <% @sd.each do |hash| %>
          <%= render 'inscription', hash: hash %>
        <% end %>
      </div>
    </div>
  <!-- Double Homme -->
    <div class="collapse" id="doublehomme">
      <div class="row">
        <% @dh.each do |hash| %>
          <%= render 'inscription_double', hash: hash %>
        <% end %>
      </div>
    </div>
  <!-- Double Dame -->
    <div class="collapse" id="doubledame">
      <div class="row">
        <% @dd.each do |hash| %>
          <%= render 'inscription_double', hash: hash %>
        <% end %>
      </div>
    </div>
  <!-- Double Mixte -->
    <div class="collapse" id="doublemixte">
      <div class="row">
        <% @dm.each do |hash| %>
          <%= render 'inscription_double', hash: hash %>
        <% end %>
      </div>
    </div>
  </div>
</div>
