<div class="container text-center">
  <h1>Liste des inscrits</h1>
  <div style="padding: 10px;">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <button class="btn-treehouse" data-toggle="collapse" data-target="#simplehomme" aria-expanded="false" aria-controls="collapseExample">Simple Homme</button>
      </div>
      <div class="col-xs-12 col-sm-4">
        <button class="btn-treehouse" data-toggle="collapse" data-target="#simpledame" aria-expanded="false" aria-controls="collapseExample">Simple Dame</button>
      </div>
      <div class="col-xs-12 col-sm-4">
        <button class="btn-treehouse" data-toggle="collapse" data-target="#doublehomme" aria-expanded="false" aria-controls="collapseExample">Double Homme</button>
      </div>
    </div>
  </div>
  <div style="padding: 10px;">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <button class="btn-treehouse" data-toggle="collapse" data-target="#doubledame" aria-expanded="false" aria-controls="collapseExample">Double Dame</button>
      </div>
      <div class="col-xs-12 col-sm-4">
        <button class="btn-treehouse" data-toggle="collapse" data-target="#doublemixte" aria-expanded="false" aria-controls="collapseExample">Double Mixte</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="wrapper_index">
  <div class="container min-height">

  <!-- Simple Homme -->
    <div class="collapse" id="simplehomme">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme N2</h4></div>
            <% if @sh_n2.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_n2.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 test">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme N3</h4></div>
            <% if @sh_n3.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_n3.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 test">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme R4</h4></div>
            <% if @sh_r4.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_r4.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 test">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme R5</h4></div>
            <% if @sh_r5.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_r5.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
           </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 test">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme R6</h4></div>
            <% if @sh_r6.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_r6.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 test">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme D7</h4></div>
            <% if @sh_d7.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_d7.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme D8</h4></div>
            <% if @sh_d8.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_d8.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme D9</h4></div>
            <% if @sh_d9.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_d9.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Homme P</h4></div>
            <% if @sh_p.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sh_p.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <!-- Simple Dame -->
    <div class="collapse" id="simpledame">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame N2</h4></div>
            <% if @sd_n2.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_n2.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame N3</h4></div>
            <% if @sd_n3.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_n3.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame R4</h4></div>
            <% if @sd_r4.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_r4.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame R5</h4></div>
            <% if @sd_r5.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_r5.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame R6</h4></div>
            <% if @sd_r6.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_r6.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame D7</h4></div>
            <% if @sd_d7.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_d7.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame D8</h4></div>
            <% if @sd_d8.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_d8.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame D9</h4></div>
            <% if @sd_d9.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_d9.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Simple Dame P</h4></div>
            <% if @sd_p.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @sd_p.each_with_index do |inscrit, index| %>
                <%= render "inscription", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <!-- Double homme -->
    <div class="collapse" id="doublehomme">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme N2</h4></div>
            <% if @dh_n2.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_n2.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme N3</h4></div>
            <% if @dh_n3.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_n3.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme R4</h4></div>
            <% if @dh_r4.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_r4.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme R5</h4></div>
            <% if @dh_r5.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_r5.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme R6</h4></div>
            <% if @dh_r6.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_r6.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme D7</h4></div>
            <% if @dh_d7.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_d7.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme D8</h4></div>
            <% if @dh_d8.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_d8.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme D9</h4></div>
            <% if @dh_d9.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_d9.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Homme P</h4></div>
            <% if @dh_p.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dh_p.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <!-- Double Dame -->
    <div class="collapse" id="doubledame">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame N2</h4></div>
            <% if @dd_n2.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_n2.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame N3</h4></div>
            <% if @dd_n3.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_n3.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame R4</h4></div>
            <% if @dd_r4.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_r4.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame R5</h4></div>
            <% if @dd_r5.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_r5.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame R6</h4></div>
            <% if @dd_r6.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_r6.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame D7</h4></div>
            <% if @dd_d7.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_d7.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame D8</h4></div>
            <% if @dd_d8.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_d8.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame D9</h4></div>
            <% if @dd_d9.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_d9.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Dame P</h4></div>
            <% if @dd_p.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dd_p.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <!-- Double Mixte -->
    <div class="collapse" id="doublemixte">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte N2</h4></div>
            <% if @dm_n2.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_n2.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte N3</h4></div>
            <% if @dm_n3.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_n3.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte R4</h4></div>
            <% if @dm_r4.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_r4.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte R5</h4></div>
            <% if @dm_r5.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_r5.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte R6</h4></div>
            <% if @dm_r6.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_r6.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte D7</h4></div>
            <% if @dm_d7.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_d7.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte D8</h4></div>
            <% if @dm_d8.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_d8.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte D9</h4></div>
            <% if @dm_d9.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_d9.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-tableau">
            <div class="text-center"><h4>Double Mixte P</h4></div>
            <% if @dm_p.empty? %>
              <p>Pas d'inscrit pour le moment</p>
            <% else %>
              <% @dm_p.each_with_index do |inscrit, index| %>
                <%= render "inscription_double", inscrit: inscrit, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
